# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

# Temporary files
*~

# LaTeX compilation files
*.aux
*.backup
*.log
*.ptc
*.out
*.synctex.gz
*.synctex.gz(buzy)
*.toc

# PDF files
Annexe/RE/[^/]*.pdf
Annexe/RI/[^/]*.pdf
Conception/CdCF.pdf
Realisation/DAT.pdf

# Logs de la table des figures et de la liste des tableaux
Realisation/[^/]*.lof
Realisation/[^/]*.lot

# Les fichiers de sauvegarde temporaires de Dia
Realisation/[^/]*.autosave

# Open/Libre Office lock files
.~lock.*

# Windows system files
Thumbs.db

# GIMP files
*.xcf

# Compilation configuration files
Realisation/Programs/QTms/*.pro.user*

# Binaries files
Realisation/Programs/QTms/ui_*
Realisation/Programs/QTms/Makefile*
Realisation/Programs/QTms/debug/*
Realisation/Programs/QTms/release/*
