QWidget {
	font-family: "DejaVu Condensed", DejaVu, Arial, sans-serif;
/*	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-size: 12px;
	font-style: normal; /* normal, italic, oblique, initial, inherit */
	font-variant: normal; /* normal, small-caps, initial, inherit */
	font-weight: 400; /* normal, bold, bolder, lighter, 100, 200, 300..900, initial, inherit */
}

/* Contenu d'un onglet */
QTabWidget QWidget {
	background-color: green;
}

/* Frame principale du contenu d'un onglet */
QTabWidget QWidget QFrame {
	background-color: #CCC;
	/* border bottom */
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	/* border left */
	border-left-color: black;
	border-left-style: solid;
	border-left-width: 1px;
	/* border right */
	border-right-color: black;
	border-right-style: solid;
	border-right-width: 1px;
	/* border top */
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

QTabWidget QWidget QFrame QLabel {
	/* background */
	background-color: white;
	background-image: none;
	/* border bottom */
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	/* border left */
	border-left-width: 0px;
	/* border right */
	border-right-width: 0px;
	/* border top */
	border-top-width: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	/* text */
	color: black;
}

QTabWidget QWidget QFrame QScrollArea {
	/* background */
	background-color: transparent;
	background-image: none;
	/* border bottom */
	border-bottom-width: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	/* border left */
	border-left-width: 0px;
	/* border right */
	border-right-width: 0px;
	/* border top */
	border-top-width: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

QTabWidget QWidget QFrame QScrollArea QFrame {
	/* background */
	background-color: transparent;
	background-image: none;
	/* border bottom */
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	/* border left */
	border-left-color: black;
	border-left-style: solid;
	border-left-width: 1px;
	/* border right */
	border-right-color: black;
	border-right-style: solid;
	border-right-width: 1px;
	/* border top */
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

/* titre genre Waybill ID */
QTabWidget QWidget QFrame QScrollArea QFrame QLabel {
	/* background */
	background-color: white;
	background-image: none;
	/* border bottom */
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	/* border left */
	border-left-width: 0px;
	/* border right */
	border-right-width: 0px;
	/* border top */
	border-top-width: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

/* Contenu bas niveau */
QTabWidget QWidget QFrame QScrollArea QFrame QWidget {
	/* background */
	background-color: white;
	background-image: none;
	/* border bottom */
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	/* border left */
	border-left-width: 0px;
	/* border right */
	border-right-width: 0px;
	/* border top */
	border-top-width: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

/* Table dans laquelle se trouve la liste des objets */
QTabWidget QWidget QFrame QTableView {
	/* background */
	background-color: white;
	background-image: none;
	/* border bottom */
	border-bottom-width: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	/* border left */
	border-left-width: 0px;
	/* border right */
	border-right-width: 0px;
	/* border top */
	border-top-width: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

QFrame QWidget {
	background-color: transparent;
}

QScrollArea QFrame{
	background-color: green;
	/* border bottom */
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	/* border left */
	border-left-color: black;
	border-left-style: solid;
	border-left-width: 2px;
	/* border right */
	border-right-color: black;
	border-right-style: solid;
	border-right-width: 2px;
	/* border top */
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 2px;
}

QScrollArea {
	background-color: cyan;
}

QFrame {
	background-color: #FFF;
	/* border bottom */
	border-bottom-color: #DDD;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	/* border left */
	border-left-color: #DDD;
	border-left-style: solid;
	border-left-width: 1px;
	/* border right */
	border-right-color: #DDD;
	border-right-style: solid;
	border-right-width: 1px;
	/* border top */
	border-top-color: #DDD;
	border-top-style: solid;
	border-top-width: 1px;
	/*color: #333;
	/*line-height: 20px;*/
	margin-bottom: 0px;
}

*[corner-bl=true] {
	border-bottom-left-radius: 4px;
}

*[corner-br=true] {
	border-bottom-right-radius: 4px;
}

*[corner-tl=true] {
	border-top-left-radius: 4px;
}

*[corner-tr=true] {
	border-top-right-radius: 4px;
}

QLabel {
	background-color: orange;/*#EEE;*/
	/* border bottom */
	border-bottom-color: red;/*#CCC;*/
	border-bottom-style: solid;
	border-bottom-width: 1px;
	/* border left */
	border-left-color: red;/*#CCC;*/
	border-left-style: solid;
	border-left-width: 1px;
	/* border right */
	border-right-color: red;/*#555;*/
	border-right-style: none;
	border-right-width: 0px;
	/* border top */
	border-top-color: red;/*#CCC;*/
	border-top-style: solid;
	border-top-width: 1px;
	color: #555;
/*	line-height: 14px;*/
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
/*white-space: nowrap;*/
	width: 80px;
}

QPushButton {
	background-color: cyan;/*#FFF;*/
	background-image: none;
	border-bottom-color: green;/*#CCC;*/
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: green;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: green;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: green;
	border-top-style: solid;
	border-top-width: 1px;
	color: #333;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: -1px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 6px;
	text-align: center;
	text-transform: none;
	vertical-align: middle;
}

QLineEdit, QDateEdit {
	background-color: yellow;/*#FFF;*/
	background-image: none;
	border-bottom-color: #000;/*#CCC;*/
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #000;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #000;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #000;
	border-top-style: solid;
	border-top-width: 1px;
	color: #555;
	height: 34px;
	line-height: 17px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	/*width: 626.5px;*/
}

QComboBox {
	background-color: yellow;/*#EBEBEB;*/
	background-image: none;
	border-bottom-color: blue;/*#CCC;*/
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: brown;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: brown;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: brown;
	border-top-style: solid;
	border-top-width: 1px;
	color: #555;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: #333;
	outline-offset: -2px;
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 10px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	white-space: nowrap;
}

QComboBox::drop-down :on{
	background-color: red;
}
QComboBox::drop-down {
	background-color: cyan;
	background-image: none;
	border-bottom-color: #CCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-right-radius: 4px;
	border-left-color: #CCC;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #CCC;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #CCC;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-right-radius: 4px;
	color: #333;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: -1px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 6px;
	position: relative;
	text-align: center;
	text-transform: none;
	vertical-align: middle;
}

QComboBox QAbstractItemView {
	background-color: blue;
}

QComboBox::down-arrow :on{
	background-color: green;
}

QComboBox::down-arrow {
	background-color: #FFF;
	background-image: none;
	border-bottom-color: #CCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-right-radius: 4px;
	border-left-color: #CCC;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #CCC;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #CCC;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-right-radius: 4px;
	color: #333;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: -1px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 6px;
	text-align: center;
	text-transform: none;
	vertical-align: middle;
}
