QWidget{
	background-color: #FFF;
	font-family: "DejaVu Condensed", DejaVu, Arial, sans-serif;
/*	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-size: 12px;
	font-style: normal; /* normal, italic, oblique, initial, inherit */
	font-variant: normal; /* normal, small-caps, initial, inherit */
	font-weight: 400; /* normal, bold, bolder, lighter, 100, 200, 300..900, initial, inherit */
	border-width: 0px;
}

QMenuBar{
	background-color: #F7F7F9;
	border-color: #CCC;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	color: #555;
	font-weight: bold;
}
QMenuBar::item{
	background-color: #F7F7F9;
	padding: 16px;
}
QMenuBar::item:selected{
	background-color: #E7E7E7;
	color: #333;
}
QMenuBar::item:pressed{
	background-color: #E7E7E7;
}

/*------------------------------------------------------------------*/
/*     GENERAL STYLESHEET
/*------------------------------------------------------------------*/

QTabWidget::pane {
	border-top: 1px solid #CCC;
	top: -1px;
}
QTabWidget::tab-bar {
	left: 9px;
}
QTabBar::tab,
QTabBar::tab:hover{
	background-color: #FFF;
	border-style: solid;
	border-color: #CCC;
	border-width: 0px 0px 1px 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: blue;
	padding: 8px 16px 8px 16px;
}
QTabBar::tab:hover {
	background-color: #EBEBEB;
}
QTabBar::tab:selected,
QTabBar::tab:selected:hover{
	background-color: #F7F7F9;
	border-bottom: 1px solid #F7F7F9;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-top: 1px solid #CCC;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #555;
	padding: 8px 16px 8px 16px;
}


DataFrame{
	background-color: #FFF;
	border-color: #CCC;
	border-style: solid;
	border-width: 1px;
}
DataFrame QLabel{
	background-color: #fff;
	border-color: #ccc;
	border-style: solid;
	border-bottom-width: 1px;
	color: #aaa;
	font-weight: bold;
	padding: 16px 8px 16px 8px;
}
DataFrame #agreementTitle,
DataFrame #contractTitle,
DataFrame #drivingLicenceTitle,
DataFrame #idTitle,
DataFrame #transportTitle,
DataFrame #statusTitle,
DataFrame #planningTitle{
	background-color: #fff;
	background-image: url(Icon/Glyph/Expand.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	border-color: #ccc;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	color: #aaa;
	font-weight: bold;
	padding: 16px 8px 16px 8px;
}
DataFrame #agreementTitle:checked,
DataFrame #contractTitle:checked,
DataFrame #drivingLicenceTitle:checked,
DataFrame #idTitle:checked,
DataFrame #transportTitle:checked,
DataFrame #statusTitle:checked,
DataFrame #planningTitle:checked{
	background-color: #fff;
	background-image: url(Icon/Glyph/Collapse.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	border-color: #ccc;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	color: #aaa;
	font-weight: bold;
	padding: 16px 8px 16px 8px;
}
WidgetGroup QLabel{
	background-color: #EEE;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #CCC;
	border-radius: 0px;
	border-style: solid;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 1px;
	color: #555;
	font-weight: normal;
	padding: 8px 16px 8px 16px;
}













QStatusBar{
	background-color:
	/*
	qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:1, stop:0 rgba(173, 173, 173, 255), stop:1 rgba(255, 255, 255, 255));
	*/
	qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0.148, stop:0 rgba(206, 206, 206, 255), stop:1 rgba(255, 255, 255, 255));
	border-color: #CCC;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	padding: 8px 16px 8px 16px;
}

QComboBox{
	background-color: #FFF;
	border-color: #CCC;
	border-radius: 0px;
	border-style: solid;
	border-width: 1px;
	color: #555;
	padding: 8px 16px 8px 16px;
}
QComboBox:editable{
	background-color: red;
}
QComboBox::down-arrow{
	image: url(Icon/Glyph/Expand.png);
}
QComboBox::drop-down{
	background-color: #FFF;
	border-color: #CCC;
	border-style: solid;
	border-left-width: 1px;
	width: 24px;
}
QComboBox:hover{
	border-color: #ADADAD;
	color: #333;
}
QComboBox::editable:hover{
	border-color: #ADADAD;
	color: #333;
}
QComboBox::drop-down:hover{
	background-color: #EBEBEB;
	border-color: #ADADAD;
	border-style: solid;
	border-left-width: 1px;
	color: #333;
}
QDateEdit{
	background-color: #FFF;
	border-color: #CCC;
	border-radius: 0px;
	border-style: solid;
	border-width: 1px;
	color: #555;
	padding: 8px 16px 8px 16px;
}
QProgressBar{
	background-color: #FFF;
	border-color: #CCC;
	border-radius: 0px;
	border-style: solid;
	border-width: 1px;
	color: #555;
	padding: 8px 16px 8px 16px;
}
QPushButton{
	background-color: #FFF;
	border-color: #CCC;
	border-radius: 0px;
	border-style: solid;
	border-width: 1px;
	color: #555;
	padding: 8px 16px 8px 16px;
}
QPushButton:disabled{
	background-color: #F7F7F9;
	border-color: #CCC;
	border-radius: 0px;
	border-style: solid;
	border-width: 1px;
	color: #CCC;
	padding: 8px 16px 8px 16px;
}
QLineEdit{
	background-color: #FFF;
	border-color: #CCC;
	border-radius: 0px;
	border-style: solid;
	border-width: 1px;
	color: #555;
	padding: 8px 16px 8px 16px;
}
QScrollArea {
	background-color: transparent;
	border-color: #CCC;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	padding: 8px 0px 8px 0px;
}
#editionScrollAreaWidgetContents{
	background-color: transparent;
}
QTextEdit{
	background-color: #FFF;
	border-color: #CCC;
	border-radius: 0px;
	border-style: solid;
	border-width: 1px;
	color: #555;
	padding: 8px 16px 8px 16px;
}
/** ELEMENTS STANDARDS **/
/* Elements standards à bordure gauche arrondie */
#confirmationOkPushButton,
DataInteractionToolBar #addPushButton,
DataInteractionToolBar #searchingLineEdit{
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
/* Elements standards à bordure droite arrondie */
#confirmationCancelPushButton,
DataInteractionToolBar #commitPushButton,
DataInteractionToolBar #searchingPushButton{
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
/* Elements standards sans bordure gauche */
#confirmationCancelPushButton,
DataInteractionToolBar #removePushButton,
DataInteractionToolBar #rollbackPushButton,
DataInteractionToolBar #commitPushButton,
DataInteractionToolBar #searchingPushButton{
	border-left: 0px;
}
/** ELEMENTS SPECIFIQUES **/
/* Elements specifiques à bordure gauche arrondie */
#addressLabel,
#categoryLabel,
#countryCodeLabel,
#deliveryDateLabel,
#destinationLabel,
#numberLabel,
#emailLabel,
#firstnameLabel,
#fixLabel,
#functionLabel,
#idLabel,
#lastnameLabel,
#mobilLabel,
#originLabel,
#photoLabel,
#rangeLabel,
#registrationNoLabel,
#requestDateLabel,
#requisitionIdLabel,
#transportVehicleLabel,
#transportRegistrationNoLabel,
#transportMeanIconLabel,
#vehicleLabel,
#warehouseLabel{
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
/* Elements specifiques à bordure droite arrondie */
#addressLineEdit,
#categoryLineEdit,
#countryCodeLineEdit,
#deliveryDateEdit,
#destinationLineEdit,
#numberScanPushButton,
#emailLineEdit,
#firstnameLineEdit,
#fixLineEdit,
#functionComboBox,
#idLineEdit,
#lastnameLineEdit,
#mobilLineEdit,
#originLineEdit,
#photoLabel,
#rangeComboBox,
#registrationNoLineEdit,
#requestDateEdit,
#requisitionIdLineEdit,
#transportVehicleLineEdit,
#transportRegistrationNoLineEdit,
#transportMeanIconLabel,
#vehicleLineEdit,
#warehouseLineEdit{
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
/* Elements specifiques sans bordure gauche */
#statusProgressBar{
	border-left: 0px;
}
/* Elements specifiques sans bordure droite */
#addressLabel,
#categoryLabel,
#countryCodeLabel,
#deliveryDateLabel,
#destinationLabel,
#numberLabel,
#numberLineEdit,
#emailLabel,
#firstnameLabel,
#fixLabel,
#functionLabel,
#idLabel,
#lastnameLabel,
#mobilLabel,
#originLabel,
#rangeLabel,
#registrationNoLabel,
#requestDateLabel,
#requisitionIdLabel,
#statusCommentIconLabel,
#statusProgressBar,
#transportVehicleLabel,
#transportRegistrationNoLabel,
#vehicleLabel,
#warehouseLabel{
	border-right: 0px;
}
/* Elements specifiques sans bordure haute */
#statusCommentTextEdit,
#statusCommentIconLabel{
	border-top: 0px;
}
/* Elements specifiques et traitements specifiques */
#statusCommentIconLabel{
	padding: 0px;
}
/*QPushButton:disabled{
}*/

QProgressBar{
	background-color: #5CB85C;
	/*
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	*/
	color: #000;
	/*background-color: #F5F5F5; fond*/
}



QComboBox::down-arrow,
QDateEdit::down-arrow {
	image: url(../QTms/Icon/Glyph/Expand.png);
}

QComboBox::drop-down,
QDateEdit::drop-down {
	background-color: #FFF;
	border-color: #CCC;
	border-style: solid;
	border-left-width: 1px;
	width: 24px;
}

QComboBox::drop-down:hover,
QDateEdit::drop-down:hover {
	border-style: solid;
	border-left-width: 1px;
}

QComboBox:editable,
QDateEdit::editable {
}

QComboBox:hover,
QComboBox::drop-down:hover,
QComboBox::editable:hover,
QDateEdit:hover,
QDateEdit::drop-down:hover,
QDateEdit::editable:hover,
QLineEdit:hover,
QPushButton:hover,
QTextEdit:hover {
	border-color: #ADADAD;
	color: #333;
}

QComboBox::drop-down:hover,
QDateEdit::drop-down:hover,
QPushButton:hover{
	background-color: #EBEBEB;
}


QComboBox::drop-down:pressed,
QDateEdit::drop-down:pressed,
QPushButton:pressed {
	background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.721, stop:0 rgba(255, 255, 255, 255), stop:0.954774 rgba(49, 49, 49, 206));
	/*rgba(0, 0, 0, 0.125) 0px 3px 5px 0px inset;*/
}

QTableView {
	background-color: #FFF;
	border-width: 0px;
	border-radius: 0px;
}
QTableView QHeaderView {
	background-color: transparent;
	border-width: 0px;
	color: #555;
}
QTableView QHeaderView::section {
}
QTableView QHeaderView::section:checked {
}
QTableView::item {
	background-color: #FFF;
	border-color: #888;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	color: #555;
}
