/*------------------------------------------------------------------*/
/*     GENERAL STYLESHEET
/*------------------------------------------------------------------*/

QTabWidget::pane {
	border-top: 1px solid #CCC;
	top: -1px;
}

QTabWidget::tab-bar {
	left: 8px;
}

QTabBar::tab {
	background-color: #FFF;
	border-style: solid;
	border-color: #CCC;
	border-width: 0px 0px 1px 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 8px 16px 8px 16px;
}

QWidget {
	background-color: #FFF;
	font-family: "DejaVu Condensed", DejaVu, Arial, sans-serif;
/*	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-size: 12px;
	font-style: normal; /* normal, italic, oblique, initial, inherit */
	font-variant: normal; /* normal, small-caps, initial, inherit */
	font-weight: 400; /* normal, bold, bolder, lighter, 100, 200, 300..900, initial, inherit */
	border-width: 0px;
}


QFrame QWidget {
	border: 0px;
}

QFrame QScrollArea {
	background-color: #FFF;
	border-width: 0px;
	border-radius: 4px;
}

QFrame QComboBox,
QFrame QDateEdit,
QFrame QLabel,
QFrame QLineEdit,
QFrame QProgressBar,
QFrame QPushButton,
QFrame QTextEdit {
	border-color: #CCC;
	border-radius: 0px;
	border-style: solid;
	border-width: 1px;
	color: #555;
	padding: 8px 16px 8px 16px;
}

QFrame QComboBox,
QFrame QDateEdit,
QFrame QLineEdit,
QFrame QProgressBar,
QFrame QPushButton,
QFrame QTextEdit {
	background-color: #FFF;
}

QLabel {
	background-color: #EEE;
}

QComboBox::down-arrow,
QDateEdit::down-arrow {
	image: url(../QTms/Icon/Glyph/Expand.png);
}

QComboBox::drop-down,
QDateEdit::drop-down {
	background-color: #FFF;
	border-color: #CCC;
	border-style: solid;
	border-left-width: 1px;
	width: 24px;
}

QComboBox::drop-down:hover,
QDateEdit::drop-down:hover {
	border-style: solid;
	border-left-width: 1px;
}

QComboBox:editable,
QDateEdit::editable {
}

QComboBox:hover,
QComboBox::drop-down:hover,
QComboBox::editable:hover,
QDateEdit:hover,
QDateEdit::drop-down:hover,
QDateEdit::editable:hover,
QLineEdit:hover,
QPushButton:hover,
QTextEdit:hover {
	border-color: #ADADAD;
	color: #333;
}

QComboBox::drop-down:hover,
QDateEdit::drop-down:hover,
QPushButton:hover,
QTabBar::tab:hover {
	background-color: #EBEBEB;
}

QTabBar::tab,
QTabBar::tab:hover {
	color: blue;
}

QTabBar::tab:selected,
QTabBar::tab:selected:hover {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-top: 1px solid #CCC;
	color: #555;
}

QComboBox::drop-down:pressed,
QDateEdit::drop-down:pressed,
QPushButton:pressed {
	background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.721, stop:0 rgba(255, 255, 255, 255), stop:0.954774 rgba(49, 49, 49, 206));
	/*rgba(0, 0, 0, 0.125) 0px 3px 5px 0px inset;*/
}

QTableView {
	background-color: #FFF;
	border-width: 0px;
	border-radius: 0px;
}

QTableView QHeaderView {
	background-color: transparent;
	border-width: 0px;
	color: #555;
}

QTableView QHeaderView::section {
}

QTableView QHeaderView::section:checked {
}

QTableView::item {
	background-color: #FFF;
	border-color: #888;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	color: #555;
}











/** NE PAS REMPLACER PAR QTabWidget QFrame POUR EMPECHER L'HERITAGE **/
#waybillIdMainFrame,
#waybillListMainFrame,
#waybillPlanningMainFrame,
#waybillStatusMainFrame,
#waybillTransportMainFrame {
	border-color: #CCC;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
}

/** NE PAS REMPLACER PAR QTabWidget QFrame QLabel POUR EMPECHER L'HERITAGE **/
#waybillIdMainLabel,
#waybillListMainLabel,
#waybillPlanningMainLabel,
#waybillStatusMainLabel,
#waybillTransportMainLabel {
	border-width: 0px 0px 1px 0px;
/*	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
*/	color: #555;
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
}

/*------------------------------------------------------------------*/
/*     BARRES D'OUTILS
/*------------------------------------------------------------------*/

/*---- Barres d'outils d'actions standards -------------------------*/

/* Standard add push button */
#waybillAddPushButton,
#requisitionAddPushButton,
#driverAddPushButton,
#vehicleAddPushButton,
#providerAddPushButton {
	/*
	background-image: url("../QTms/Icon/Glyph/Add.png");
	background-repeat: norepeat;
	background-position: center center;
	*/
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

/* Standard remove push button */
#waybillRemovePushButton,
#requisitionRemovePushButton,
#driverRemovePushButton,
#vehicleRemovePushButton,
#providerRemovePushButton {
	border-left-width: 0px;
}

/* Standard rollback push button */
#waybillRollbackPushButton,
#requisitionRollbackPushButton,
#driverRollbackPushButton,
#vehicleRollbackPushButton,
#providerRollbackPushButton {
	border-left-width: 0px;
}

/* Standard commit push button */
#waybillCommitPushButton,
#requisitionCommitPushButton,
#driverCommitPushButton,
#vehicleCommitPushButton,
#providerCommitPushButton {
	/*
	background-image: url("../QTms/Icon/Glyph/Commit.png");
	background-repeat: norepeat;
	background-position: center center;
	*/
	border-left-width: 0px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

/*---- Barres d'outils de recherche --------------------------------*/

/* Searching line edit */
#waybillSearchLineEdit,
#requisitionSearchLineEdit,
#driverSearchLineEdit,
#vehicleSearchLineEdit,
#providerSearchLineEdit {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

/* Searching push button */
#waybillSearchPushButton,
#requisitionSearchPushButton,
#driverSearchPushButton,
#vehicleSearchPushButton,
#providerSearchPushButton {
	border-left-width: 0px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

/*---- Barres de confirmation d'édition ----------------------------*/

/* Edition Ok push button */
#waybillEditionOkPushButton,
#requisitionEditionOkPushButton,
#driverEditionOkPushButton,
#vehicleEditionOkPushButton,
#providerEditionOkPushButton {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

/* Edition Cancel push button */
#waybillEditionCancelPushButton,
#requisitionEditionCancelPushButton,
#driverEditionCancelPushButton,
#vehicleEditionCancelPushButton,
#providerEditionCancelPushButton {
	border-left-width: 0px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

/*------------------------------------------------------------------*/
/*     CHAMPS SEPCIFIQUES
/*------------------------------------------------------------------*/

#waybillTransportMeanImageLabel,
#waybillStatusSynthesisImageLabel {
	padding: 0px;
}

#waybillTransportVehicleLabel,
#waybillTransportRegistrationNoLabel,
#waybillCountryCodeLabel,
#waybillIdLabel,
#waybillRequisitionIdLabel,
#waybillRequestDateLabel,
#waybillWarehouseLabel {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

#waybillTransportMeanLabel {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#waybillTransportMeanComboBox {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#waybillTransportMeanImageLabel {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#waybillCountryCodeLineEdit,
#waybillIdLineEdit,
#waybillRequisitionIdComboBox,
#waybillRequestDateEdit,
#waybillWarehousePushButton,
#waybillTransportVehiclePushButton,
#waybillTransportRegistrationNoLineEdit {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

#waybillStatusSynthesisProgressBar,
#waybillStatusDummyLabel {
	border-top-left-radius: 4px;
}

#waybillStatusSynthesisProgressBar,
#waybillStatusConditionLabel {
	border-top-right-radius: 4px;
}

#waybillStatusSynthesisImageLabel,
#waybillStatusReceptionLabel {
	border-bottom-left-radius: 4px;
}

#waybillStatusSynthesisCommentTextEdit,
#waybillStatusRealReceptionConditionLineEdit {
	border-bottom-right-radius: 4px;
}

/* Waybill infos */
#waybillCountryCodeLineEdit,
#waybillIdLineEdit,
#waybillRequisitionIdComboBox,
#waybillRequestDateEdit,
#waybillWarehouseLineEdit,
#waybillWarehousePushButton,
/* Transport */
#waybillTransportVehicleLineEdit,
#waybillTransportVehiclePushButton,
#waybillTransportRegistrationNoLineEdit,
/* Status synthesis */
#waybillStatusSynthesisCommentTextEdit,
/* Horizontal header */
#waybillStatusActorLabel,
#waybillStatusDateLabel,
#waybillStatusLocationLabel,
#waybillStatusConditionLabel,
/* Actor */
#waybillStatusPlannedLoadingActorLineEdit,
#waybillStatusPlannedTransportActorLineEdit,
#waybillStatusPlannedReceptionActorLineEdit,
#waybillStatusRealLoadingActorLineEdit,
#waybillStatusRealTransportActorLineEdit,
#waybillStatusRealReceptionActorLineEdit,
/* Date */
#waybillStatusPlannedLoadingDateEdit,
#waybillStatusPlannedTransportDateEdit,
#waybillStatusPlannedReceptionDateEdit,
#waybillStatusRealLoadingDateEdit,
#waybillStatusRealTransportDateEdit,
#waybillStatusRealReceptionDateEdit,
/* Location */
#waybillStatusPlannedLoadingLocationLineEdit,
#waybillStatusPlannedLoadingLocationPushButton,
#waybillStatusPlannedTransportLocationLineEdit,
#waybillStatusPlannedTransportLocationPushButton,
#waybillStatusPlannedReceptionLocationLineEdit,
#waybillStatusPlannedReceptionLocationPushButton,
#waybillStatusRealLoadingLocationLineEdit,
#waybillStatusRealLoadingLocationPushButton,
#waybillStatusRealTransportLocationLineEdit,
#waybillStatusRealTransportLocationPushButton,
#waybillStatusRealReceptionLocationLineEdit,
#waybillStatusRealReceptionLocationPushButton,
/* Condition */
#waybillStatusPlannedLoadingConditionLineEdit,
#waybillStatusPlannedTransportConditionLineEdit,
#waybillStatusPlannedReceptionConditionLineEdit,
#waybillStatusRealLoadingConditionLineEdit,
#waybillStatusRealTransportConditionLineEdit,
#waybillStatusRealReceptionConditionLineEdit,
/* Vertical header */
#waybillStatusPlannedLoadingLabel,
#waybillStatusPlannedTransportLabel,
#waybillStatusPlannedReceptionLabel,
#waybillStatusRealLoadingLabel,
#waybillStatusRealTransportLabel,
#waybillStatusRealReceptionLabel
{
	border-left-width: 0px;
}

/* Transport */
#waybillTransportMeanComboBox,
/* Status synthesis */
#waybillStatusSynthesisCommentTextEdit,
#waybillStatusSynthesisImageLabel,
/* Actor */
#waybillStatusPlannedLoadingActorLineEdit,
#waybillStatusPlannedTransportActorLineEdit,
#waybillStatusPlannedReceptionActorLineEdit,
#waybillStatusRealLoadingActorLineEdit,
#waybillStatusRealTransportActorLineEdit,
#waybillStatusRealReceptionActorLineEdit,
/* Date */
#waybillStatusPlannedLoadingDateEdit,
#waybillStatusPlannedTransportDateEdit,
#waybillStatusPlannedReceptionDateEdit,
#waybillStatusRealLoadingDateEdit,
#waybillStatusRealTransportDateEdit,
#waybillStatusRealReceptionDateEdit,
/* Location */
#waybillStatusPlannedLoadingLocationLineEdit,
#waybillStatusPlannedLoadingLocationPushButton,
#waybillStatusPlannedTransportLocationLineEdit,
#waybillStatusPlannedTransportLocationPushButton,
#waybillStatusPlannedReceptionLocationLineEdit,
#waybillStatusPlannedReceptionLocationPushButton,
#waybillStatusRealLoadingLocationLineEdit,
#waybillStatusRealLoadingLocationPushButton,
#waybillStatusRealTransportLocationLineEdit,
#waybillStatusRealTransportLocationPushButton,
#waybillStatusRealReceptionLocationLineEdit,
#waybillStatusRealReceptionLocationPushButton,
/* Condition */
#waybillStatusPlannedLoadingConditionLineEdit,
#waybillStatusPlannedTransportConditionLineEdit,
#waybillStatusPlannedReceptionConditionLineEdit,
#waybillStatusRealLoadingConditionLineEdit,
#waybillStatusRealTransportConditionLineEdit,
#waybillStatusRealReceptionConditionLineEdit,
/* Main vertical header */
#waybillStatusLoadingLabel,
#waybillStatusTransportLabel,
#waybillStatusReceptionLabel,
/* Vertical header */
#waybillStatusPlannedLoadingLabel,
#waybillStatusPlannedTransportLabel,
#waybillStatusPlannedReceptionLabel,
#waybillStatusRealLoadingLabel,
#waybillStatusRealTransportLabel,
#waybillStatusRealReceptionLabel
{
	border-top-width: 0px;
}
